{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}"/>
{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
    <div class="panel panel-primary offset-md-3 col-md-6" id="result_panel">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des équipements Cisco</h3>
        </div>
    </div>
    <div class="panel-body offset-md-4 col-md-4">
        <form method="POST" action="{{ path('equipement') }}">
            <input type="hidden" name="type_form" value="connexion">
            <label>Nom d'utilisateur :
                <input name="user" type="text">
            </label>
            <br>
            <label>Mot de passe utilisateur :
                <input name="userpswd" type="password">
            </label>
            <br>
            <label>Mot de passe administration :
                <input name="adminpswd" type="password">
            </label>
            <br>
            {% if(type != 'Switch' ) and ( type != 'Router') %}
            <label>Type de l'équipement :
                <select id="type" name="type">
                    <option value="Router">router</option>
                    <option value="Switch">switch</option>
                </select>
            </label>
            <br>
            {% else %}
                <input name="type" type="hidden" value="{{ type }}">
            {% endif %}
            <input type="submit" value="se connecter">
            <a href="{{path('equipement_liste')}}">
                <button class="bt1 btn btn-light" type="button"/>Retour</button>
            </a>
        </form>
    </div>
{% endblock %}
