{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/recup_conf_equipement.css') }}" />
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/recup_conf_equipement.js') }}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.3.0/classic/ckeditor.js"></script>
{% endblock %}
{% block body %}
   <div class="panel panel-primary offset-md-3 col-md-6" id="result_panel">
    <div class="panel-heading"><h3 class="panel-title">Equipement X</h3>
    </div>
    <div class="panel-body">
       <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
    </div>
    </div>
    <div>
        <a href="{{path('saveEquipement')}}">
        <button type="button" class="bt0 btn btn-light">Modifier la configuration</button>
        </a>
        <a href="{{path('default')}}">
        <button type="button" class="bt1 btn btn-light"/>Retour</button>
        </a>
   </div>
</div>

  {% endblock %}

  